<div class="{{=it.formGroupClass}}" data-bind="{{=it.dataBind('containerBindings')}}">
	<label for="{{=it.getId()}}" data-bind="{{=it.dataBind('labelBindings')}}"></label> 
	<div data-bind="{{=it.dataBind('inputContainerBindings')}}">
		<div data-bind="{{=it.dataBind('fieldBindings')}}">
				
				{{?it.inputAddon }}
					<div data-bind="{{=it.dataBind('inputAddonBindings')}}"></div>
				{{?}}
				
				{{=it.getSubTpl()}}
				
				{{?it.showStateIcon}}
					<span class="{{=it.glyphiconClass}} {{=it.formControlFeedbackClass}}" data-bind="{{=it.dataBind('feedbackBindings')}}"></span>
				{{?}}
				{{?it.helpText}}
					<span class="{{=it.helpBlockClass}}" data-bind="{{=it.dataBind('helpBlockBindings')}}"></span>
			 	{{?}}
			 	
		</div>
	</div>
</div>