<div class="{{=it.formGroupClass}}" data-bind="{{=it.dataBind('containerBindings')}}">
	{{?it.label !== false }}
		<label for="{{=it.getId()}}" data-bind="{{=it.dataBind('labelBindings')}}"></label> 
	{{?}}
	<div data-bind="{{=it.dataBind('inputContainerBindings')}}">
		<div data-bind="{{=it.dataBind('fieldBindings')}}">
				
				{{?it.inputAddon}}
					{{?it.inputAddonPosition === "left"}}
						<!-- ko {{=it.dataBind('inputAddonTemplateBindings')}} --><!-- /ko -->
					{{?}}
				{{?}}
				
				{{=it.getSubTpl()}}
				
				{{?it.showStateIcon}}
					<span class="{{=it.glyphiconClass}} {{=it.formControlFeedbackClass}}" data-bind="{{=it.dataBind('feedbackBindings')}}"></span>
				{{?}}
				{{?it.helpText}}
					<span class="{{=it.helpBlockClass}}" data-bind="{{=it.dataBind('helpBlockBindings')}}"></span>
			 	{{?}}
			 	
			 	{{?it.inputAddon}}
				 	{{?it.inputAddonPosition === "right"}}
						<!-- ko {{=it.dataBind('inputAddonTemplateBindings')}} --><!-- /ko -->
					{{?}}
				{{?}}
			 	
		</div>
		
		{{?it.inputAddon}}
		 	<script type="text/html" id="{{=it.getAddonId()}}">
				<span data-bind="{{=it.dataBind('inputAddonBindings')}}">
					{{?typeof it.inputAddon === "object"}}
						{{=it.getItemsProp('inputAddon')}}
					{{?? true}}
						<span data-bind="{{=it.dataBind('inputAddonSpanBindings')}}"></span>
					{{?}}
				</span>
			 </script>
	 	{{?}}
		
	</div>
</div>