<div id="{{=it.getId()}}" data-bind="{{=it.dataBind()}}">
	<div data-bind="{{=it.dataBind('panelHeaderBindings')}}">
		{{?it.collapsible}}
			<a data-bind="{{=it.dataBind('collapsibleLinkBindings')}}">
		{{?}}
			<span data-bind="{{=it.dataBind('panelHeaderTextBindings')}}"></span>	
		{{?it.collapsible}}
			</a>
		{{?}}
		{{?it.headerIcons}}
			<div data-bind="{{=it.dataBind('headerIconBindings')}}">
				{{=it.getItemsProp('headerIcons')}}
			</div>
		{{?}}
	</div>
		<div data-bind="{{=it.dataBind('tabBindings')}}">
			<div data-bind="{{=it.dataBind('panelBodyBindings')}}" >
				{{=it.getToolbars()}}
				{{=it.getItems()}}
			</div>
		</div>
</div>