<!-- ko {{=it.dataBind('listTemplateBindings')}} --><!-- /ko -->

<script type="text/html" id="{{=it.getId()}}">
	<!-- ko {{=it.dataBind('virtualContainerBindings')}} -->
		<{{=it.listType}} data-bind="{{=it.dataBind('listContainerBindings')}}">
			<li data-bind="{{=it.dataBind('listItemBindings')}}">
				{{=it.b(it.preItemTpl)}}
					{{?it.linkedList}}
						<a data-bind="{{=it.dataBind('listLinkBindings')}}">
					{{?}}
							<span data-bind="{{=it.dataBind()}}"></span>
	
							{{?it.badge}}
								<span data-bind="{{=it.dataBind('badgeBindings')}}"></span>
							{{?}}

					{{?it.linkedList}}
						</a>
					{{?}}
				{{=it.b(it.postItemTpl)}}
				<!-- ko {{=it.dataBind('childrenBindings')}} --><!-- /ko -->
			</li>
		</{{=it.listType}}>
	<!-- /ko -->
</script>
