/** ComboBox **/
.fb-ui-combobox {
	min-width: 142px;	/** needed when placed combo into panel header etc**/
	position: relative;
}

.fb-ui-combobox:hover {
	cursor: text;
}

.fb-ui-combo-values, .fb-ui-combo-value-item {
	display: inline-block;
}

.fb-ui-combobox.multiple .fb-ui-combo-value-item {
    background-color: #fff;
    background-image: linear-gradient(to bottom, #5bc0de 0%, #2aabd2 100%);
    border: 1px solid #28a4c9;
    border-radius: 3px;
    color: #fff;
    padding: 0 5px;
    cursor: pointer;
}

.fb-ui-combo-value-item {
	margin-right:5px;
}

.fb-ui-combo-input {
	width: 10px; 
	opacity: 1; 
	position: relative; 
	left: 0px;
	border: none;
    background: none;
    padding: 0;
    text-indent: 0;
}

.fb-ui-combo-input:focus {
	-webkit-appearance: none;
	outline: none;
}

.fb-ui-combo-select {
	border-width: 5px 5px;
    cursor: pointer;
    float: right;
    margin: 7px 2px 2px;
}

.fb-ui-combo-clear-icon {
	color: #a9a9a9;
    float:right;
    margin: 2px;
    cursor: pointer;
    display:none;
}

.fb-ui-combobox.open .fb-ui-combo-select.caret{
	border-bottom: 6px solid;
    border-top: none;
}

.fb-ui-combo-result {
	display:none;
	border:1px solid;
	max-height:200px;
	overflow-y: auto;
	border-color: #ccc;
    border-radius: 0px 0px 4px;
    border-top: none;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.075);
    background-color:#fff;
    z-index: 50;
    position: fixed;
}

.fb-ui-combo-group-item > .fb-ui-combo-group-title{
    border-bottom: 1px solid #f0f0f0;
    border-top: 1px solid #f0f0f0;
    font-weight: bold;
    background: #f8f8f8 none repeat scroll 0 0;
    color: #303030;
    cursor: default;
    display:block;
    padding:3px;
}

.fb-ui-combo-item {
	padding: 10px;
	cursor: pointer;
}

.fb-ui-combo-item:not(:last-child) {
	margin-bottom: 5px;
}

.fb-ui-combo-item.active{
	color:#ff9900;
	background-color: #f1f1f1;
}
/*-- /ComboBox **/