/** datepicker **/
.icon-arrow-left, .icon-arrow-right{
	display:block;
	height:100%;
	width:100%;
}

.icon-arrow-left{
	background:url(images/arrow_left.png) center center no-repeat;
}

.icon-arrow-right{
	background:url(images/arrow_right.png) center center no-repeat;
}
/*-- /datepicker --*/