/** navbar **/
.navbar-form{
	margin-top:0px;
	margin-bottom:0px;
}
.navbar .dropdown{
	display:inline-block;
	margin-right:4px;
}

.navbar .dropdown-toggle.navbar-btn{
	margin-bottom:0px;
}
/*-- /navbar --*/