<nav id="{{=it.getId()}}" data-bind="{{=it.dataBind()}}">
	<div data-bind="{{=it.dataBind('navbarWrapperBindings')}}">
		{{?it.showNavbarHeader}}
		<div data-bind="{{=it.dataBind('navbarHeaderBindings')}}">
			{{?it.toggleButton}}
				<button data-bind="{{=it.dataBind('toggleButtonBindings')}}">
		         	<span class="sr-only" data-bind="{{=it.dataBind('toggleTextBindings')}}"></span>
		         	<span class="icon-bar"></span>
		         	<span class="icon-bar"></span>
		         	<span class="icon-bar"></span>
	       		</button>
       		{{?}}
       		{{?it.showBranding}}
      			<a data-bind="{{=it.dataBind('brandBindings')}}">{{=it.brandTpl}}</a>
      		{{?}}
		</div>
		{{?}}
		<div data-bind="{{=it.dataBind('navbarContainerBindings')}}">
     		{{=it.getItems()}}
     	</div>
	</div>
</nav>